* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

.nav-bar, footer {
    color: white;
    padding: 1% 0;
}

.nav-bar, header, footer {
    background-color: #6899F3;
}


.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header {
    padding: 12% 0;
}

.aboutme {
    background-color: #E7EFFD;
}

section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #ddd;
}



@media only screen and (min-width: 800px) {
    .project1, .project2 {
        display: inline-block;
        width: 47%;
        margin: 24px 0px;
    }

    .project3, .project4 {
        display: inline-block;
        width: 47%;
        margin: 24px 0px;
    }
}



